.categories {
  justify-content: space-around;
  margin-top: 50px;

  &__item {
    padding: 100px 0;
    @extend %background-center-cover-norepeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;

    &--jackets {
      background-image: url(../../../images/jackets.jpeg);
    }

    &--coats {
      background-image: url(../../../images/coats.jpeg);
    }
  }
}