.product {
  margin-top: 50px;

  &__details {
    padding-left: 20px;

    &--description {
      padding-right: 10%;
    }

    &--size {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__img {
    max-width: 100%;
  }
}