.products {
  padding-top: 20px;

  &__filters {
    display: flex;
    justify-content: center;
    border-right: $base-border;

    label {
      margin: 20px 0 10px 0;
      display: block;
    }
  }

  .product__single {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    &--img {
      max-width: 250px;
    }

    &--info {
      display: flex;
      justify-content: space-between;
    }
  }

  .link {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    text-align: center;
  }
}